.nav-container {
    width: 100%;
    flex-shrink: 0;
    background-color: var(--text-color-white-ag);
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 25px;

    .nav-icon {
        display: flex;
        height: 44px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex-shrink: 0;

        >img {
            width: 32px;
            height: 44px;
        }

        >img:nth-of-type(1) {
            display: none;
        }

        >p {
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            color: var(--color1);
        }

     /*Burger Menu---------------------------*/
     .burger-menu{
        width: 50%;
        background-color: var(--background5);
        transform: translateY(-600%);
        transition-property: transform;
        transition-duration: 2s;
        transition-timing-function: ease-in-out;   
        margin-top: 280px;
        
        >img{
           padding: 18px;
           cursor: pointer;
        }
        .burger-container{
            >ul li a{
                font-size: 16px;
                font-weight: 400;
                padding: 18px 40px;
                color: var(--color1);
            }
            >ul li{
                margin-bottom: 16px;
            }
            >button{
                font-size: 14px;
                font-weight: 500px;
                padding:10px;
                width: 200px;
                height: 40px;
                border-radius: 8px;
                display: block;
                margin: 15px 40px;
                border: none;
                cursor: pointer;
            }
            >button:nth-of-type(1){
                color: var(--background7);
                background-color: var(--danger-500);
                margin-top: 70px;
            }
            >button:nth-of-type(2){
                color: var(--color3);
                background-color: var(--background5);
            }
        }
    }

    }

    .nav-href {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;  
        padding-right: 80px;

        >div {
            position: relative;

            >a {
                font-size: 16px;
                font-weight: 600;
                color: var(--color3);

                &:hover~span {
                    height: 2px;
                    width: 100%;
                }
                &:hover{
                    color:var(--danger-500);
                }

            }

            >span {
                display: inline-block;
                height: 0;
                width: 0;
                background-color: var(--danger-500);
                position: absolute;
                top: 0;
                left: 0;
                transition: all 300ms ease-in-out;
            }
        }

    }
    
    .btn-head>img {
        display: none;
    }

    .btn-head button:nth-of-type(1) {
        width: 113px;
        height: 40px;
        font-size: 14px;
        border-radius: 8px;
        border: 1px solid var(--basic-500, #C5CEE0);
        color: var(--color3);
    }

    /*Hover-------------------------------*/
    .btn-head button:nth-of-type(1):hover {
        background-color: var(--color1);
        color: var(--color6);
        font-weight: 700;
    }

    .btn-head button:nth-of-type(2) {
        width: 155px;
        height: 40px;
        font-size: 14px;
        border-radius: 8px;
        background: var(--danger-500);
        color: var(--background5);
        margin-left: 4px;
    }

    /*Hover-------------------------------*/
    .btn-head button:nth-of-type(2):hover {
        background-color: var(--background5);
        color: var(--danger-500);
        font-weight: 700;
        border: 1px solid var(--basic-500, #C5CEE0);
    }
}

.head-main {
    width: 60%;
    margin: 0 auto;

    >h1 {
        font-size: 34px;
        font-weight: 600;
        text-align: center;
        color: var(--color1);
    }

    .author {
        display: flex;
        justify-content: center;

        >img {
            margin: 24px 0;
        }

        /*Hover-------------------------------*/
        >img:hover {
            transform: scale(1.2);
        }

        .author-name {
            margin: 30px 16px;

            >p {
                font-size: 16px;
                font-weight: 500;
                color: var(--color1);
            }

            >span {
                font-size: 14px;
                font-weight: 400;
                color: var(--color2);
            }
        }
    }
}

.information {
    width: 90%;
    margin: 0 auto;
    
    .info-img {
        width: 64%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
       
        .info-p{
            display: flex;
            gap: 20px;

            >p{
            margin-top: 35px;
            color: var(--color1);
            font-size: 14px;
            font-weight: 400;
        }

        >p:nth-of-type(1) {
            width: 102px;
            height: 32px;
            border: 1px solid var(--color5);
            padding: 5px 12px; 
        }

        >p:nth-of-type(2) {
            width: 116px;
            height: 32px;
            border: 1px solid var(--color5);
            padding: 5px 14px;
        }
        }
        
    }

    .info-text {
        width: 64%;
        margin: 0 auto;

        >p {
            width: 100%;
            height: 144px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: var(--color1);
            margin: 45px auto;
            padding-right: 6px;

            >span {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: var(--color4);
            }
        }

        >h3 {
            font-size: 24px;
            font-weight: 600;
            color: var(--color1);
        }
    }

    .info-toolsOne {
        width: 64%;
        margin: 32px auto;
        color: var(--color1);

        >h6 {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 30px;
        }

        >p {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .image-tools>img {
        width: 50%;
        margin: 64px auto;
        flex-shrink: 0;
        display: block;
    }

    .info-tools-continue {
        width: 64%;
        margin: 64px auto;
        color: var(--color1);
        font-weight: 400;

        >ul {
            margin: 20px 20px;
            line-height: 24px;

            >li {
                list-style-type: disc;
            }
        }

        >p {
            font-size: 16px;
            line-height: 24px;
            margin: 20px 0;
        }

        >h6 {
            font-size: 20px;
            line-height: 28px;
            font-weight: 400;
            margin: 24px 0;
        }
    }
}

form { 
    width: 60%;
    border-top: 1px solid var(--color6);
    padding-top: 48px;
    margin: 0 auto;

    .f-head {
        
        display: flex;
        justify-content: space-between;

        >h6 {
            font-size: 24px;
            font-weight: 800;
            line-height: 32px;
            color: var(--color1);
        }

        >img {
            flex-shrink: 0;
        }
    }

    >p:nth-of-type(1) {
        font-size: 16px;
        font-weight: 400;
        color: var(--color2);
        margin: 8px 0 40px 0;
    }

    .f-main {
        
        display: flex;
        justify-content: space-between;

        .input-left>span,
        .input-right>span {
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
            margin-bottom: 8px;
            color: var(--color1);
        }

        .input-left {
            display: flex;
            flex-direction: column;

            >label input {
                width: 384px;
                height: 48px;
                border-radius: 8px;
                padding: 14px 16px;
                border: 1px solid var(--color6);
                background-color: var(--background7);
                outline: none;

                &:focus {
                    border: 1px solid var(--danger-500);
                }
            }
        }

        .input-right {
            display: flex;
            flex-direction: column;

            >label input {
                width: 384px;
                height: 48px;
                font-weight: 500;
                border-radius: 8px;
                padding: 12px 16px;
                border: 2px solid var(--danger-500);
                background-color: var(--background7);
                outline: none;
            }

            >label p {
                font-size: 12px;
                font-weight: 500;
                color: var(--danger-500);
                margin: 8px 0 24px 0;
            }
        }
    }

    >p:nth-of-type(2) {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 22px;
        color: var(--color1);
    }

    >textarea {
        width: 70%;
        height: 108px;
        resize: none;
        border-radius: 8px;
        padding: 14px 16px;
        background-color: var(--background7);
        border: 1px solid var(--basic-400, #E4E9F2);
        outline: none;
    }
    .check-txt-button{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;

    .txt-check{
        display: flex;
        align-items:center;
        padding: 30px 0;

    >p{
        font-size: 14px;
        font-weight: 400;
        color: var(--color1);
        padding-left: 10px;

        >span {
            font-size: 14px;
            font-weight: 400;
            color: var(--color4);
        }
    }
    }
    
    >.button>button {
        width: 168px;
        height: 48px;
        border-radius: 8px;
        background-color: var(--background1);
        font-size: 14px;
        font-weight: 500;
        color: var(--background7);
        padding: 12px;
        margin-bottom: 40px;
    }  
    /*Hover-------------------------------*/
    .button button:hover {
        background-color: var(--danger-500);
    }
    }
    
   
}

.respond-container {
    width: 60%;
    margin: 0 auto;
    border-top: 2px solid var(--color6);
    padding-top: 25px;

    >p {
        font-size: 16px;
        font-weight: 500;
        color: var(--color1);
        margin-bottom: 24px;
    }

    .respond {
        display: flex;
        justify-content: flex-start;

        .avatar-respond {
            width: 40px;
            height: 40px;
            border: 1px solid var(--background8);
            border-radius: 50%;
            background-color: var(--background8);
            padding: 8px 12px;
            margin-right: 16px;

            >span {
                font-size: 16px;
                font-weight: 700px;
                color: var(--danger-500);
            }
        }

        .respond-t {
            >h5 {
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                color: var(--color8);
            }

            >p:nth-of-type(1) {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                margin: 8px 0;
                color: var(--color1);
            }

            >p:nth-of-type(2) {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 32px;
                color: var(--color4);
            }
        }
    }

    .reply {
        width: 95%;
        margin-left: 56px;

        .respond-t>h5 span {
            font-size: 16px;
            font-weight: 400;
            color: var(--color2);
        }
    }
}

.similar-blogs {
    width: 80%;
    margin: 70px auto;
    border-top: 1px solid var(--color4);

    >h4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        color: var(--color1);
        margin: 56px 0 40px 0;
    }

    .flex-card{
     display: flex;
     justify-content: space-between;

        .cards {
        width: 374px;
        height: 416px;
        box-shadow: 0px 16px 32px 0px rgba(118, 127, 154, 0.08);
        transition-property: transform;
        transition-duration: 4s;
        transition-timing-function: linear;

        >img {
            width: 368px;
            height: 240px;
        }
    }

    /*Hover---------------------------*/
    .cards:hover img {
        transform: translateY(-20px);
    }

    .cards-info {
        width: 352px;
        margin: 24px auto;

        >h5 {
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
        }

        >p {
            display: inline-block;
            margin: 24px 0;
            color: var(--color1);
            font-size: 14px;
            font-weight: 400;

        }

        >p:nth-of-type(1) {
            width: 102px;
            height: 32px;
            border: 1px solid var(--color5);
            padding: 5px 12px;
        }

        >p:nth-of-type(2) {
            width: 116px;
            height: 32px;
            border: 1px solid var(--color5);
            padding: 5px 14px;
            margin-left: 16px;
        }
    }

    /*Hover---------------------------*/
    .cards:hover h5 {
        color: var(--danger-500);
    }
    }

}

.aside-end {
    width: 80%;
    height: 240px;
    margin: 120px auto;
    background-color: var(--background2);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .desgin-box {
        width: 374px;
        height: 374px;
        flex-shrink: 0;
        border-radius: 50%;
        position: relative;
        top: 160px;
        right: 60px;
        background-color: var(--background9);

        .desgin-box-in {
            width: 304px;
            height: 304px;
            flex-shrink: 0;
            background-color: var(--background10);
            border-radius: 50%;
            position: relative;
            top: 70px;
            left: 30px;
        }
    }

    .aside-txt {
        color: var(--background5);
        position: absolute;
        padding-left: 64px;
        margin-bottom: 50px;

        >h5 {
            font-size: 48px;
            font-weight: 600;
            margin: 25px 0 10px 0;
        }

        span {
            font-size: 16px;
            font-weight: 400px;
        }
    }

    .button {
        margin-right: 64px;

        >button:nth-child(1) {
            width: 174px;
            height: 48px;
            font-size: 14px;
            margin-right: 24px;
            border-radius: 8px;
            border: 1px solid var(--background7);
            color: var(--color8);
            background-color: var(--background5)
        }

        >button:nth-child(2) {
            width: 174px;
            height: 48px;
            font-size: 14px;
            border-radius: 8px;
            background: var(--color3);
            color: var(--background5);
            margin-left: 4px;
        }
    }

    /*Hover-----------------------------*/
    .button button:nth-child(1):hover {
        background-color: var(--color3);
        color: var(--danger-500);
        font-weight: 700;
        border: 1px solid var(--color3);
    }

    .button button:nth-child(2):hover {
        background-color: var(--background5);
        color: var(--danger-500);
        font-weight: 700;
        border: 1px solid var(--background5);
    }

}

footer {
    background-color: var(--background7);
    position: relative;

    .flex-container {    
        flex-shrink: 0;
        padding-top: 60px;
        display: flex;
        justify-content: space-evenly;

        .FS {
            >img {
                float: left;
                width: 32px;
                height: 44px;
                flex-shrink: 0;
                margin-right: 20px;
            }

            >h5 {
                font-size: 24px;
                font-weight: 700;
                color: var(--color1);
            }

            .textFS {
                width: 208px;
                height: 72px;
                margin-top: 32px;

                >p {
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--color1);
                    line-height: 24px;
                }
            }
        }

        .company,
        .product,
        .contact {
            >h6 {
                font-size: 20px;
                font-weight: 400;
                color: var(--color1);
                margin-bottom: 24px;
            }

            >ul a li {
                font-size: 16px;
                font-weight: 400;
                color: var(--color1);
                line-height: 24px;
                margin-bottom: 16px;
            }

            /*Hover------------------------------*/
            >ul a li:hover {
                color: var(--danger-500);
                text-decoration: underline;
            }
        }

        .contact {
            >img {
                width: 28px;
                height: 28px;
                flex-shrink: 0;
                float: left;
                margin-right: 10px;
            }

            >span a {
                font-size: 16px;
                font-weight: 400;
                color: var(--color1);
            }

            >span a:hover {
                color: var(--danger-500);
                font-weight: 600;
            }

            .social-icons {
                display: flex;
                justify-content: space-evenly;
                gap: 30px;
                margin-top: 48px;

                .icon-instagram img,
                .icon-facebook img,
                .icon-telegram img,
                .icon-youtube img {
                    flex-shrink: 0;
                    color: var(--background11);
                }

                .icon-instagram,
                .icon-facebook,
                .icon-telegram,
                .icon-youtube {
                    width: 48px;
                    height: 48px;
                    flex-shrink: 0;
                    border-radius: 50%;
                    background-color: var(--background7);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >a img {
                        color: var(--color1);
                    }
                }

                .icon-instagram {
                    background-color: var(--color9);
                }

                /*Hover----------------------------------*/
                .icon-facebook:hover,
                .icon-telegram:hover,
                .icon-youtube:hover {
                    background-color: var(--color1);
                }
            }
        }
    }


.FS-poster-end {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 150px;
    
    .poster-left span,
    .poster-right span {
        font-size: 16px;
        font-weight: 400;
        color: var(--color1);
    }

    .poster-right {
        >span:nth-child(1) {
            padding-right: 30px;
        }
    }
}
}
@media only screen and (max-width: 576px) {
    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding:0;

        .nav-href {
            display: none;
        }
        .nav-icon {
            width: 36%;
            display: flex;
            justify-content: space-between;
            gap: 5px;
            

            >img:nth-child(1) {
                display: inline-block;
                cursor: pointer;
            }
            .burger-menu{
             width: 150%;
             
            }
            >img:hover~.burger-menu{
             transform: translateY(0);
            }


        }
        .btn-head button:nth-of-type(1) {
            display: none;
        }

        .btn-head {
            display: flex;
            justify-content: center;
            gap: 20px;

            >img {
                display: block;
                cursor: pointer;
            }
        }
    }
  



    .head-main {
        width: 85%;
        margin-bottom: 30px;
        .author {
            display: none;
        }
    }

    .information{
        width: 100%;
        .info-img{
            width: 90%;
        }

        .info-text{
            width: 90%;
            >h3{
                margin-top: 100px;
            }
        }

        .info-toolsOne{
            width: 90%;
        }
        .image-tools img{
            width: 90%;
        }
        .info-tools-continue{
            width: 90%;
        }

    }

    form {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .f-main{
            display: flex;
            flex-direction: column;

            .input-left>span,
            .input-right>span {
                    margin: 12px 0;
            }

            .input-left, .input-right{
                >label input{
                width: 100%;
            }
            }   
        } 
        >Textarea{
                width: 100%;
        }

        .check-txt-button{
            .txt-check{
                .check{
                    width: 34px;
                    height: 34px; 
                    flex-shrink: 0;
                    cursor: pointer;
                    >i{
                        width: 16px;
                        margin: 9px;
                    }
                }
            }
        }
    }

    .respond-container{
        width: 90%;
        .reply{
            margin-left: 50px;
        }
    }

    .similar-blogs {
        width: 90%;
        .flex-card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .cards{
            width: 100%;
            >img{
                width: 100%;
            }
            transition: none;
        }
        .cards:hover img{
            transform: none;
        }
        .cards-info{
            width: 100%;

            >p:nth-of-type(1) {
                width: 120px;
                height: 40px;
                padding: 10px 20px;
            }
    
            >p:nth-of-type(2) {
                width: 130px;
                height: 40px;
                padding: 10px 18px;
                margin-left: 35px;
            }
          }
       }
    }

    .aside-end {
        display: none;
    }


    footer {
        
        .flex-container{
        display: flex;
        justify-content: center;
        flex-direction: column;  
        align-items:center;
        text-align: center;
        .FS{
           .textFS{ 
            width: 80%; margin: 0 auto;
            >P{
                margin: 20px auto;
            }
        } 
        >img{
            position: relative;
            left: 125px;
        }
        }
        .company, .product,.contact{
            >h6{
                font-weight: 600;
                margin: 20px 0;
            }
        }
        .contact>img{
            position: relative;
            left: 50px;
            bottom: 5px;
        }
        
        }
       .FS-poster-end{
        padding: 25px 134px;
        text-align: center;

        .poster-left{
            width: 100%;
        }
        .poster-right{
            display: none;
        }
       }
    }

   
}