* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font-family);
    font-style: normal;
    list-style-type: none;
}

body {
    margin: 0 auto;
}

.btn button {
    font-size: 16px;
    font-weight: 400px;
    border: none;
    background: none;
    cursor: pointer;
}

:root {
    --font-family: Euclid Circular A;
}

/* Font face created */
@font-face {
    font-family: Euclid Circular A;
    src: url("../assets/fonts/Euclid\ Circular\ A\ Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Euclid Circular A;
    src: url("../assets/fonts/Euclid\ Circular\ A\ Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Euclid Circular A;
    src: url("../assets/fonts/Euclid\ Circular\ A\ Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Euclid Circular A;
    src: url("../assets/fonts/Euclid\ Circular\ A\ Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Euclid Circular A;
    src: url("../assets/fonts/Euclid\ Circular\ A\ SemiBold.ttf");
    font-weight: 600;
}

/* Italic format */

@font-face {
    font-family: Euclid Circular A;
    src: url("../assets/fonts/Euclid\ Circular\ A\ Bold\ Italic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Euclid Circular A;
    src: url("../assets/fonts/Euclid\ Circular\ A\ Regular\ Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Euclid Circular A;
    src: url("../assets/fonts/Euclid\ Circular\ A\ Light\ Italic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Euclid Circular A;
    src: url("../assets/fonts/Euclid\ Circular\ A\ Medium\ Italic.ttf");
    font-weight: 500;
    font-style: italic;
}